* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;    
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color:#1e2125;


}

.reveal {
    position: relative;
    transform: translateX(0px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}

/* .reveal_x {
    position: relative;
    transform: translateX(-450px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal_x.active {
    transform: translateX(0px);
    opacity: 1;
} */

.header {
    background-color: #1e2125;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    z-index: 100;
    overflow: hidden;

}

.logo {
    position: relative;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    color: white;
    transition: .3s;
    opacity: 0;
    letter-spacing: 2px;
    font-style: 'Poppins', sans-serif;    
    padding-left: 20px;
    animation: slideUp .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}



.navbar a:hover {
    color: #e63946;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 550;
    transition: 0s;
}

.navbar a.active {
    text-decoration: underline;
    color: #e63946;
    font-weight: 700;
}



.home {
    position: relative;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: #1e2125;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 30px;
    letter-spacing: 2px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;

}

.home-content h4 {
    font-size: 30px;
    line-height: 1.4;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content h4 span {
    color: #e63946;
    font-size: 30px;
    font-weight: 700;
}

/* .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height:40px;
    width:40px;
    color:#0ef;
    opacity:0;
    border: 3px solid #0ef;
    border-radius: 50%;
    margin : 45px 20px 10px 0px ;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}

.social-media a:hover{
    color:black;
    background-color: #0ef;
    box-shadow: 0 0 20px cyan, 0 0 50pc cyan;
} */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #1e2125;
    box-shadow: 3px 0 8px black, -3px 0 8px rgb(175, 175, 175, 0.2), 0 3px 8px black, 0 -3px 8px rgba(213, 213, 213, 0.2);

    opacity: 0;
    /* border: 3px solid #0ef; */
    border-radius: 10px;
    margin: 45px 20px 10px 0px;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background-color: #1b1d20;
    color: #e63946;
    transform: translateY(-5px);
}


.btn-box {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 0;
    color: white;
    background-color: #1e2125;
    box-shadow: 3px 0 8px black, -3px 0 8px rgb(175, 175, 175, 0.2), 0 3px 8px black, 0 -3px 8px rgba(213, 213, 213, 0.2);
    width: 230px;
    height: 50px;
    font-size: 19px;
    border-radius: 25px;
    margin-top: 30px;
    opacity: 0;
    transition: .4s ease;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;

}

/* .btn-box:hover{
   border: 2px solid cyan;
   box-shadow: 0 0 5px cyan, 0 0 25pc cyan, 0 0 100px cyan, 0 0 150px cyan;
   
} */

.btn-box:hover {
    background-color:#1b1d20;
    color: #e63946;
}

.home-img {
    display: inline-block;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    margin: 5%;
    top: 5%;
    left: 53%;
    opacity: 0;
    animation: slideUp 1.5s ease forwards;
    animation-delay: 1s;
}

.responsive:hover {
    transform: scale(1.02);
}

.responsive {
    width: 100%;
    height: 600px;
    border-top-left-radius: 251px;
    border-top-right-radius: 251px;
    border-bottom-left-radius: 251px;
    border-bottom-right-radius: 251px;
    transition: .5s ease;
}

.about {
    background-color: #1e2125;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    justify-content: space-between;
    padding: 70px;
    min-height: 0vh;
}

.abt-img {
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 10%;
    margin-left: 9%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.abt-res {
    width: 47%;
    height: 85%;
    max-width: 492px;
    border-radius: 90px;
    filter: saturate(-90%);
    /* filter:drop-shadow(0 0 10px rgb(61, 60, 60)); */
    background-color: #1e2125;
    box-shadow: 3px 0 8px black, -3px 0 8px rgb(175, 175, 175, 0.2), 0 3px 8px black, 0 -3px 8px rgba(213, 213, 213, 0.2);
    transition: all .6s ease;

}

.abt-res:hover {
    transform: translateY(-5px);
    background-color: #1b1d20;
}

.abt-text {
    margin-top: 7%;
    margin-right: 2%;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.abt-text h4 {
    font-size: 30px;
    letter-spacing: 3px;

}

.abt-text h4 span {
    color: #e63946;

}

.abt-text p {
    color: white;
    font-size: 20px;
    line-height: 3;
    letter-spacing: 2px;
    text-align: justify;
    text-justify: inter-word;
}

.skills {
    background-color: #1e2125;
    min-height: 50vh;
}

.skills h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}

.skills h1 span {
    color: #e63946;
}

.skill-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 3%;
}

.container1 {
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 100px;

}

.skill-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-top: 40px;
    justify-content: center;
    margin-left: 20px;

}

.skill-type .info img{
    font-size: 70px;
    margin-left: 34%;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.info i {
    font-size: 70px;
    margin-left: 29%;
    margin-top: 10px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.bxl-html5:hover {
    filter: drop-shadow(0 0 15px red);
}

.bxl-css3:hover {
    filter: drop-shadow(0 0 15px cyan);
}
.javaS:hover {
    filter: drop-shadow(0 0 15px yellow);
}

.react:hover {
    filter: drop-shadow(0 0 15px lightblue);
}

.node:hover {
    filter: drop-shadow(0 0 15px green);
}
.mongo:hover {
    filter: drop-shadow(0 0 15px green);
}

.bxl-c-plus-plus:hover {
    filter: drop-shadow(0 0 15px #3db2fc);
}

.bxl-python:hover {
    filter: drop-shadow(0 0 15px yellow);
}
.hierarchical:hover {
    filter: drop-shadow(0 0 15px lightblue);
}

.info-text {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 0px;
    opacity: 0;
    animation: showText 1s ease forwards;
    animation-delay: 1s;
}

.container2 {
    width: 600px;
    height: 600px;
    padding: 10px;
    margin-left: 100px;
}

.container1 h2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.container2 h2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 0px;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.project {
    background-color: #1e2125;
    min-height: 70vh;

}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100px;
    height: 140px;
}

.path {
    stroke-width: 12;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

.path.path-5 {
    animation: animate-path5 1s 1s linear forwards;
}

.path.path-6 {
    animation: animate-path6 1s 1s linear forwards;
}

.radial-bar .percentage {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 500;
    animation: showTexT 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: -4%;
    bottom: -8px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

.main-text {
    padding-top: 80px;
    margin-top: 50px;
    padding-bottom: 130px;
}


.main-text h3 {
    text-align: center;
    font-size: 30px;
}

.main-text h3 span {
    color: #e63946;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, auto));
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    margin-top: 5%;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.row {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px;
    overflow: hidden;
}

.row img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
    padding: 10px;
}

.layer {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 0;
    opacity: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    transition: height 0.5s;

}

.layer h4 {
    color: black;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 5px;
}

.layer p {
    color: black;
    font-size: 1rem;
    line-height: 1.1;
    text-align: justify;
    margin: 10px;
}

.layer a {
    text-decoration: none;
}

.layer i {
    color: #0ef;
    margin-top: 0px;
    font-size: 13px;
    background: rgb(33, 32, 32);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0px;
}

.row:hover img {
    transform: scale(1.01);
}

.row:hover .layer {
    height: 100%;
    opacity: 1;
}

#Services {
    background-color: #1e2125;
    min-height: 90vh;
}

.container {}

.prj-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 10px;
    margin-top: 7%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.prj-info {
    transition: .5s ease;
}

.prj-info:hover{
    transform: scale(1.04);
    background-color: #1b1d20;
    color:#e63946;
}

.prj-list div {
    width: 350px;
    height: 200px;
    padding: 10% 15%;
    margin-left: 15%;
    background-color: #1e2125;
    box-shadow: 3px 0 8px black, -3px 0 8px rgb(175, 175, 175, 0.2), 0 3px 8px black, 0 -3px 8px rgba(213, 213, 213, 0.2);
    border-radius: 30px;  
}



.prj-list div i {
    font-size: 50px;
    margin-bottom: 10px;
}

.prj-list div i:hover{
    color:white;  
}

.prj-list div h4 {
    font-size: 22px;
    letter-spacing: 3px;
}

.prj-list div p {
    font-size: 20px;
    margin-top: 10px;
}

.container h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 2.5%;

}

.container h3 span {
    color: #e63946
}

.contact {
    background-color: #1e2125;
    margin-top: -10%;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

}

.contact h2 {
    font-size: 30px;
    text-align: center;
}

.contact h2 span {
    color: #e63946;
}

.contact h3 {
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 1s;

}

.contact-info {

    margin-top: 25px;
    line-height: 3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.contact-info li {

    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;

}

.contact-info i {
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

.social-media2 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    width: 40px;
    color:white;
    background-color: #1e2125;
    box-shadow: 3px 0 8px black, -3px 0 8px rgb(175, 175, 175, 0.2), 0 3px 8px black, 0 -3px 8px rgba(213, 213, 213, 0.2);
    opacity: 0;
    border-radius: 10px;
    margin: 45px -30px 90px 90px;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.social-media2 a:hover {
    color: #e63946;
    background-color: #1b1d20;
}

.top_arrow {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    display: flex;
    opacity: 0;
    transition: all .4s ease;
}

.top_arrow i {
    font-size: 30px;
    color: black;
    background-color: #0ef;
    border-radius: 7px;
}

.top_arrow.active {
    opacity: 1;
    pointer-events: auto;
}

.top_arrow i:hover {
    box-shadow: 0 0 5pc cyan, 0 0 15px cyan, 0 0 25px cyan;

}

.developer-info {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.developer-info span {
    color: #e63946;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 100;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 140;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 90;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}


@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 90;
    }
}


@keyframes animate-path6 {
    100% {
        stroke-dashoffset: 140;
    }
}


@keyframes showTexT {
    100% {
        opacity: 1;
    }
}

@keyframes animate {

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes showText {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width:1000px) and (min-width:500px) {
    * {
        overflow-x: hidden;
        overflow-y: inherit;
    }

    .header {
        display: block;
    }

    .logo {
        position: relative;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .logo::after {
        content: "\a";
        white-space: pre;
    }

    .navbar a {
        font-size: 15px;
        font-weight: 200;
        margin-left: 0px;
        padding: 20px 10px 0 0;
    }

    .navbar a::after {
        content: "\a";
        white-space: pre;
    }

    .home {
        align-items: normal;
        padding-top: 30%;
        padding-bottom: 0;
    }

    .home h1 {
        font-size: 40px;
    }

    .home h3 {
        font-size: 20px;
    }

    .home h4 {
        font-size: 20px;
    }

    .home h4 span {
        font-size: 20px;
        font-weight: 700;
    }

    .home-img {
        width: 400px;
        height: 500px;
        position: relative;
        left: 0%;
        top: 2%;
        padding-bottom: 0px;
        padding-left: 0;
        margin-left: 0;
    }

    .responsive {
        height: 440px;
    }

    .social-media {
        margin-top: -15%;
        padding-left: 15px;
    }

    .btn-box {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }

    .btn-box:hover {
        box-shadow: none;
    }

    .about {
        margin-top: 10%;
        min-height: auto;
    }

    .abt-img {
        width: 110%;
        height: 240px;
    }

    .about h4 {
        font-size: 30px;
    }

    .about p {
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 1.4;
        text-align: left;
        font-weight: 100;
        padding-top: 15px;
    }

    .skills h1 {
        font-size: 40px;
    }

    .skill-content h2 {
        font-size: 22px;
        margin-right: 10%;
        margin-top: 20px;
    }

    .container1 {
        width: 600px;
        height: auto;
        padding: 10px;
        margin-left: 40px;
    }

    .info i {
        font-size: 80px;
    }

    .info-text {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        margin-left: -70px;
    }

    .container2 {
        width: 600px;
        height: auto;
        padding: 10px;
        margin-left: 30px;
        overflow: hidden;
    }

    .radial-bar .text {
        bottom: 0px;
        font-size: 18px;
    }

    .project-content {
        display: block;
        margin-left: 25%;
    }

    .prj-list {
        overflow: hidden;
        padding-left: 40px;
    }

    .prj-info:hover {
        transform: scale(1.02);
    }

    .prj-list div {
        width: 420px;
        height: 220px;
        padding: 5% 15%;
        border: 4px solid #0ef;
        border-radius: 40px;
        background: transparent;

    }

    .prj-list div i {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .prj-list div h4 {
        font-size: 25px;
        letter-spacing: 5px;
    }

    /* .prj-list div p{
        font-size: 15px;
        margin-top: 10px;
    } */

    .container h3 {
        font-size: 35px;

    }

    .contact h2 {
        text-align: center;
        font-size: 35px;
        margin-top: 20%;
    }

    .contact h3 {
        text-align: center;
    }
}

@media (max-width:500px) and (min-width:320px) {
    * {
        overflow-x: hidden;
        overflow-y: inherit;

    }

    .header {
        display: block;
    }



    .logo {
        position: relative;
        font-size: 15px;
        color: #0ef;
        font-weight: 700;
        text-align: center;
    }

    .logo::after {
        content: "\a";
        white-space: pre;
    }

    .navbar a {
        font-size: 13px;
        font-weight: 200;
        margin-left: -19px;
        padding-top: 15px;
        padding-right: 8px;

    }

    .navbar a::after {
        content: "\a";
        white-space: pre;
    }

    .home {
        align-items: normal;
        padding-top: 50%;
        padding-bottom: 0;
    }

    .home h1 {
        font-size: 35px;
    }

    .home h3 {
        font-size: 20px;
    }

    .home h4 {
        font-size: 20px;
    }

    .home h4 span {
        font-size: 20px;
        font-weight: 700;
    }

    .home-img {
        width: 290px;
        height: 350px;
        position: relative;
        left: 0%;
        top: 2%;
        padding-bottom: 0px;
        padding-left: 0;
        margin-left: 0;
        overflow: hidden;
        padding-right: 3%;

    }

    .responsive {
        height: 340px;
    }

    .social-media {
        margin-top: 0%;
        padding-left: 15px;
    }

    .btn-box {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }

    .btn-box:hover {
        box-shadow: none;
    }

    .about {
        margin-top: 14%;
        max-width: 600px;
        width: 600px;
        min-height: auto;
        margin-left: -58%;
    }

    .abt-img {
        visibility: hidden;
    }

    .about h4 {
        font-size: 20px;
        text-align: center;
    }

    .about p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.4;
        text-align: justify;
        font-weight: 100;
        padding-top: 25px;
    }

    .skills h1 {
        margin-top: 10%;
        font-size: 30px;
    }

    .skill-content h2 {
        font-size: 18px;
        margin-right: 3%;
        margin-top: 20px;
        text-align: center;

    }

    .container1 {
        width: 500px;
        height: auto;
        padding: 10px;
        margin-left: 0px;
    }


    .info i {
        font-size: 80px;
    }

    .info-text {
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
        margin-left: -15px;
    }

    .container2 {
        width: 500px;
        height: auto;
        padding: 10px;
        margin-left: 30px;
        overflow: hidden;
    }

    .radial-bar .text {
        bottom: 0px;
        font-size: 16px;
    }

    .project-content {
        display: block;
        margin-left: 10%;
    }

    .container {
        margin-top: 22%;
    }

    .prj-list {
        overflow: hidden;

    }

    .prj-info:hover {
        transform: scale(1.02);
    }

    .main-text h3 {
        font-size: 25px;
    }

    .prj-list div {
        width: 280px;
        height: 220px;
        padding: 15% 15%;
        border: 4px solid #0ef;
        border-radius: 40px;
        background: transparent;

    }

    .prj-list div i {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .prj-list div h4 {
        font-size: 20px;
        letter-spacing: 5px;
    }

    /* .prj-list div p{
        font-size: 15px;
        margin-top: 10px;
    } */


    .container h3 {
        font-size: 25px;
        text-align: center;

    }

    .contact h2 {
        text-align: center;
        font-size: 35px;
        margin-top: 20%;
    }

    .contact h3 {
        text-align: center;
    }

    .contact-info li {
        font-size: 16px;
    }

    .developer-info {
        font-size: 10px;
    }
}